#!/bin/bash

PARENT_DIRECORY="{{ mariadb_backup_path }}"
CURRENT_TIMESTAMP=$(date +"{{ mariadb_backup_formatting }}")
BACKUP_RETENTION="{{ mariadb_backup_retention }}"
BACKUP_DIRECTORY="${PARENT_DIRECORY}/${CURRENT_TIMESTAMP}"

if [ ! -d ${BACKUP_DIRECTORY} ]; then
    mkdir -p ${BACKUP_DIRECTORY}
    chmod u=rwx,g=rwx,o= ${BACKUP_DIRECTORY}
fi

find ${PARENT_DIRECORY} \
    -mindepth 1 \
    -maxdepth 1 \
    -type d \
    -ctime ${BACKUP_RETENTION} \
    -exec rm -rf {} \;

DATABASES=$(mysql -e 'SHOW DATABASES;' | sed 1d | grep -v -E "{{ mariadb_backup_ignore }}")

if [ "${DATABASES}" == "" ]; then
    echo "Found no databases..."
    exit
fi

echo "Starting backup for mysql..."
START=$(date +%s)
mysqldump --max-allowed-packet={{ mariadb_max_allowed_packet }} --single-transaction --skip_add_locks --skip-lock-tables --databases --events mysql | gzip > "${BACKUP_DIRECTORY}/mysql.sql.gz"
ENDS=$(date +%s)
echo "Done within $((${ENDS}-${START}))s"

for DATABASE in ${DATABASES}
do
    echo "Starting backup for ${DATABASE}..."
    START=$(date +%s)
    mysqldump --max-allowed-packet={{ mariadb_max_allowed_packet }} --single-transaction --skip_add_locks --skip-lock-tables --databases ${DATABASE} | gzip > "${BACKUP_DIRECTORY}/${DATABASE}.sql.gz"
    ENDS=$(date +%s)
    echo "Done within $((${ENDS}-${START}))s"
done
{% if mariadb_backup_addition_script | default(False) %}

echo "Executing additional scripts..."
START=$(date +%s)
{{ mariadb_backup_addition_script | trim }}
ENDS=$(date +%s)
echo "Done within $((${ENDS}-${START}))s"
{% endif %}
