[mysqld]
bind-address = {{ mariadb_bind_address }}
max_allowed_packet = {{ mariadb_max_allowed_packet }}
max_connections = {{ mariadb_max_connections }}
{% if mariadb_ignore_db_dirs | default(False) %}
{% for item in mariadb_ignore_db_dirs %}
ignore_db_dirs = {{ item }}
{% endfor %}
{% endif %}
{% if mariadb_temp_directory | default(False) %}
tmpdir = {{ mariadb_temp_directory }}
{% endif %}

[mariadb]
lower_case_table_names = {{ mariadb_lower_case_table_names }}
