MARIADB_ROOT_PASSWORD={{ mariadb_root_password }}
MARIADB_USERNAME={{ mariadb_general_username }}
MARIADB_PASSWORD={{ mariadb_general_password }}
MARIADB_DATABASE={{ mariadb_general_db }}
MARIADB_MAX_ALLOWED_PACKET={{ mariadb_max_allowed_packet }}
MARIADB_INNODB_LOG_FILE_SIZE={{ mariadb_innodb_log_file_size }}
MARIADB_INNODB_BUFFER_POOL_SIZE={{ mariadb_innodb_buffer_size }}
MARIADB_LOG_BIN={{ mariadb_log_bin }}
MARIADB_MAX_CONNECTIONS={{ mariadb_max_connections }}
MARIADB_DEFAULT_CHARACTER_SET={{ mariadb_default_character_set }}
MARIADB_COLLATION_SERVER={{ mariadb_collation_server }}
MARIADB_CHARACTER_SET_SERVER={{ mariadb_character_set_server }}
CRON_ENABLED={{ mariadb_cron_enabled | lower }}
