[Service]
LimitNOFILE={{ mariadb_limit_number_files }}
{% if mariadb_oom_score_adjust | default(false) %}
OOMScoreAdjust={{ mariadb_oom_score_adjust }}
{% endif %}
{% if mariadb_timeout_start_sec | default(false) %}
TimeoutStartSec={{ mariadb_timeout_start_sec }}
{% endif %}
